#wrap{
    overflow: hidden;
    margin-top: 20px;
}
#bf{
    position: relative;
    border: 1px solid black;
    width: 960px;
    height: 720px;
    position: relative;
    background-color: gray;
   float: left;
}
#mytank{
    position: absolute;
    width: 64px;
    height: 64px;
    background: url("../assets/Hull_01.png") ;
    background-size: cover;
}
.gun{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.eb{
    position:absolute;
    width: 64px;
    height: 64px;
    background: url("../assets/Exhaust_Fire.png");
    background-size: cover;
}
.bullet{
    position:absolute;
    width: 64px;
    height: 64px;
    background: url("../assets/Exhaust_Fire.png");
    background-size: cover;
}
#info{
   float: left;
    width: 200px;
    overflow: hidden;
    margin: 0 20px;
}
#instruction img{
    width: 100%;
    margin-bottom: 30px;
}
#gameover{
    display: none;
    position: absolute;
    color: red;
    font-weight: 700;
    font-size: 64px;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
    background-color: white;
    text-align: center;
   z-index: 1;
}
.gotext{
    margin-top: 40%;
}
